{% extends "_base.html" %}

{% block content %}
  {{ super() }}
{% endblock content %}

{% block main %}
<main>
  <header><h1>Tag: {{ term.name }}</h1></header>
  {% if term.pages %}
  <div class="posts">
    {% for page in term.pages %}
    <article itemscope itemtype="http://schema.org/CreativeWork">
      <header>
        <h2 itemprop="name"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
        <data class="muted">{{ page.date | date(format="%F") }}</data>
      </header>
    </article>
    {% endfor %}
  </div>
  {% else %}
    <p>No posts for this tag.</p>
  {% endif %}
</main>
{% endblock main %}
